<!DOCTYPE html>
<html lang="en">
    <head>
        <title>不可思议</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link href="lib/frozen/css/frozen.css" rel="stylesheet">
	    <script src="lib/frozen/js/lib/zepto.min.js"></script>
	    <script src="lib/frozen/js/frozen.js"></script>

	    <link href="css/style.css" rel="stylesheet">
        <script src='lib/vue.js'></script>

	    <script src="js/config.js"></script>
    </head>
    <body>
        <!--这个地方放手机壳的图-->
        <div id="app" v-cloak>

	        <!--手机屏幕显示范围-->
	        <div class="phone-screen">
		        <!--手机头部状态栏-->
		        <div class="phone-top-bar">11:45PM</div>

		        <!--手机内容容器，可以切换展示的部分-->
		        <div class="ui-container ui-center phone-container">


			        <!--桌面容器-->
			        <div class="phone-content phone-desktop" v-show="contentShow.desktop">
				        <ul class="app-icon-list">
					        <!--桌面图标如下配置-->
					        <li><img class="app-icon" src="img/head/changfeng.png"><p>xxx</p></li>
					        <li><img class="app-icon"><p>xxx</p></li>
					        <li><img class="app-icon"><p>xxx</p></li>
					        <li><img class="app-icon"><p>xxx</p></li>
					        <li @click="onAction('openMail')">
								<i class="ui-reddot"></i>
								<img class="app-icon">
								<p>邮件</p>
							</li>
					        <li @click="onAction('unlock')">
								<i class="ui-reddot"></i>
								<img class="app-icon">
								<p>不可思议</p>
							</li>
				        </ul>

				        <div class="ui-footer ui-footer-stable ui-border-t" v-show="contentShow.desktop">
					        <ul class="ui-tiled">
						        <!--桌面图标如下配置-->
						        <li>
							        <div class="app-icon-footer">
								        <img class="app-icon" src="img/head/changfeng.png" @click="onAction('openCall')">
								        <i class="ui-reddot"></i>
							        </div>
						        </li>
						        <li @click="onAction('openMsg')">
							        <div class="app-icon-footer">
								        <img class="app-icon">
								        <i class="ui-reddot"></i>
							        </div>
						        </li>
						        <li>
							        <div>
								        <img class="app-icon" @click="onAction('openImage')">
							        </div>
						        </li>
					        </ul>
				        </div>
			        </div>

					<!--输入密码界面-->
					<div class="phone-content phone-psw" v-show="contentShow.psw">
						<div>
							<input type="password" id="pswText">
							<img src="img/psw.png" @click="onAction('checkPsw')">
						</div>
					</div>

					<!--电话界面-->
					<div class="phone-content phone-call" v-show="contentShow.call">
						<div class="phone-title">
							<i class="ui-icon-return title-back" @click="onAction('toHome')"></i>
							<i></i>
						</div>
						<div>
							<img src="img/call.png">
						</div>
					</div>

					<!--相册界面-->
					<div class="phone-content phone-image" v-show="contentShow.image">
						<div class="phone-title">
							<i class="ui-icon-return title-back" @click="onAction('toHome')"></i>
							<i>相册</i>
						</div>
						<div>
							<img src="img/image.png" @click="onAction('openImageList')">
						</div>
					</div>

			        <!--相册二级界面-->
			        <div class="phone-content phone-image" v-show="contentShow.imageList">
				        <div class="phone-title">
					        <i class="ui-icon-return title-back" @click="onAction('openImage')"></i>
					        <i>相册</i>
				        </div>
				        <div>
					        <img src="img/image-list.png" @click="onAction('openImageListDetail')">
				        </div>
			        </div>

			        <!--相册单张图预览界面-->
			        <div class="phone-content phone-image" v-show="contentShow.imageListDetail">
				        <div class="phone-title">
					        <i class="ui-icon-return title-back" @click="onAction('openImageList')"></i>
					        <i>相册</i>
				        </div>
				        <div>
					        <img src="img/image-list-detail.png">
				        </div>
			        </div>

					<!--邮件收件箱-->
					<div class="phone-content phone-mail" v-show="contentShow.mail">
						<div class="phone-title">
							<i class="ui-icon-return title-back" @click="onAction('toHome')"></i>
							<i>收件箱</i>
						</div>
						<ul class="ui-list ui-border-tb phone-mail-list">
							<li class="ui-border-t"
							    v-for="mail in mailList"
							    @click="onAction('openMailDetail',mail.mailId)">
								<div class="ui-avatar">
									<i class="ui-reddot"></i>
									<span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
								</div>
								<div class="ui-list-info">
									<i>{{ mail.time }}</i>
									<h4 class="ui-nowrap">{{ mail.title }}</h4>
									<p class="ui-nowrap">{{ mail.content }}</p>
								</div>
							</li>
						</ul>
					</div>

					<!--邮件收件箱-详情-->
					<div class="phone-content phone-mail-detail" v-show="contentShow.mailDetail">
						<div class="phone-title">
							<i class="ui-icon-return title-back" @click="onAction('openMail')"></i>
							<i>收件箱</i>
						</div>
						<div class="mail">
							<div class="mail-head">
								<h3>【 {{ mailDetail.title }} 】</h3>
								<br>
								<p>发件人: <span>{{ mailDetail.from }}</span></p>
								<p>收件人: <span>{{ mailDetail.to }}</span></p>
								<p>时间: <span>{{ mailDetail.time }}</span></p>
							</div>
							<hr>
							<div class="mail-content" v-html="mailDetail.content"></div>
						</div>
					</div>

					<!--聊天室列表-->
					<div class="phone-content phone-msg" v-show="contentShow.msg">
						<div class="phone-title">
							<i class="ui-icon-return title-back" @click="onAction('toHome')"></i>
							<i>聊天室</i>
						</div>
						<ul class="ui-list ui-border-tb">
							<li class="ui-border-t"
							    v-for="room in chatRoomList"
								@click="onAction('openContacts',room.roomId)">
								<div class="ui-list-thumb">
									<span :style="{backgroundImage: 'url(' + room.roomImg + ')'}"></span>
								</div>
								<div class="ui-list-info">
									<h4 class="ui-nowrap">{{ room.roomName }}</h4>
								</div>
							</li>
						</ul>
					</div>

			        <!--消息对话界面-->
			        <div class="phone-content phone-msg-detail" v-show="contentShow.msgDetail">
						<div class="phone-title">
							<i class="ui-icon-return title-back" @click="onAction('closeContacts','openMsg')"></i>
							<i>{{ currentChatRoom.roomName }}</i>
						</div>

				        <ul class="ui-list chat-list">
					        <li v-for="line in chatList"
					            :class="{'left-msg': line.isFriend ,'right-msg':!line.isFriend}"
					            class="ui-border-t chat-line">

						        <template v-if="line.isFriend">
							        <div class="ui-avatar-s">
								        <img :src="line.head">
							        </div>
							        <div class="ui-list-info">
								        <i>{{ line.name }}</i>

								        <p v-if="line.isImgMsg"><img :src="line.msg"></p>
								        <p v-html="line.msg" v-else></p>
							        </div>
						        </template>
						        <template v-else>
							        <div class="ui-list-info">
								        <i>{{ line.name }}</i>

								        <p v-if="line.isImgMsg"><img :src="line.msg"></p>
								        <p v-html="line.msg" v-else></p>
							        </div>
							        <div class="ui-avatar-s">
								        <img :src="line.head">
							        </div>
						        </template>

					        </li>
				        </ul>

				        <!--选择回复框-->
				        <ul class="ui-row-flex chat-answer" v-show="chatAnswerShow">
					        <li v-for="answer in chatAnswer"
					            @click="onSelectAnswer(answer)"
					            class="ui-col ui-flex ui-flex-pack-center chat-answer-option">
						        <div>{{ answer.msg }}</div>
					        </li>
				        </ul>
			        </div>
		         </div>
	        </div>

	        <div class="phone-home">
		        <div class="home-btn" @click="onAction('closeContacts','toHome')"></div>
	        </div>
        </div>


		<script>
	        if(document.body.clientWidth >1000){
		        alert('请在手机端访问此demo，获得最佳效果')
	        }
		</script>
        <script src="js/index.js"></script>
    </body>
</html>